body {
    color: white;
    text-align: center;
    font-family: "JetBrains Mono ExtraBold",monospace;
}
.h a{
    color: white;
    text-decoration: none;
}
p {
    font-weight: lighter;
}
div.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 100px;
    z-index: -10;
    zoom: 1;
    background-color: #fff;
    background-image: url("../../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-position: center 0;
}